%h1 Welcome to MetaPinger

= form_for @app do |f|
  = f.label       :url
  = f.text_field  :url, :placeholder => "ex: lit-bayou-2858.herokuapp.com"
  = f.label       :project_name
  = f.text_field  :project_name
  = f.submit
