<!DOCTYPE html>
<html>
<head>
  <title>MetaPinger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header>
      <p class="error"><%= flash[:error] %></p>
      <p class="notice"><%= flash[:notice] %></p>
    </header>
    <div id="main-container">
      <div id="content-wrapper">
        <%= yield %>

      </div> <!-- end content-wrapper -->
    </div> <!-- end main-container -->

    <%= javascript_include_tag "application" %>
  </body>
</html>
